<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/estilo.css">
    <title>CV Pablo Collado</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../en/Profile.html">Who am I</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../en/Estudies.html">Studies</a></li>
          <li><a href="../en/Experience.html">Experiencie</a></li>
        </div>
    </nav>
    <div class="presentacion">
      <div class="presentacion-40">
          <p class="presentaciontxt">hello my name is Pablo Collado and this is my CV </p>
          <p class="presentaciontxt2">Here you can find information about me</p>
          <div class="botonpdf">
              <a href="../../img/3 de mayo de 2024.mp4 (11).pdf (11).pdf" download>Download CV</a>
          </div>
      </div>
      <div class="presentacion-60">
        <iframe src="../../img/3 de mayo de 2024.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="hobby">
      <div class="titulo">
        <p>Hobbies</p>
      </div>
      <div class="pasatiempos">
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Walk for a dog</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/perro.jpeg" alt="ns">
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Go to the Cinema</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/CINE.jpg" alt="ns">
      
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Watch Series</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/SERIES.jpg" alt="ns">
            </div>
            </div>
        </div>
        </div>
      </div>
      <div class="apartado-inferior">
        <div class="contacto">
          <div class="titulo-contacto">
            <p>My Personal Information about me: </p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-brands fa-whatsapp"> +34640926410</i></p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-brands fa-instagram"></i>Colladoo06</p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-regular fa-envelope"></i> pablocollado1602@gmail.com</p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-brands fa-twitter"></i>Colladoo06</p>
          </div>
        </div>
        <div class="idioma">
          <p>Click on the boton to go Spanish version</p>
          <div class="botoneng">
            <a href="../../index.html">Spanish Version</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>