<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <title>CV de Pablo</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../index.html">Quien soy?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="./Estudios.html">Estudios</a></li>
          <li><a href="./Experiencia.html">Experiencia</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Idiomas</p>
      </div>
      <div class="presentacion">
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Catalan</p>
            <img class="bandera" src="../img/Catalan.jpg">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Ingles</p>
            <img class="bandera" src="../img/ingles.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Castellano</p>
            <img class="bandera" src="../img/España.jpg">
        </div>
        </div>
      </div>
    </div>
    <br>
          </div>
        </div>
      </div>
      <div class="hobby">
        <div class="titulo">
          <p>Estudios</p>
        </div>
        <div class="presentacion">
          <div class="presentacion-40-est">
              <p class="presentaciontxt-est">Educación primaria</p>
              <p class="presentaciontxt-est">(2009-2015)</p>
              <p class="presentaciontxt2-est">Entre esos años hize la educación primera en la Escuela Pare Enric d'Osso. Una Escuela que se encuentra en Bellvitge, cerca del Joan 23. Fue una Experiencia buena ya que siempre me trataron bien.
              </p>
          </div>
          <div class="presentacion-60">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5990.275488551512!2d2.110543475876622!3d41.349359671304605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d011f605c5%3A0x9b99437e7b301534!2sColegio%20Pare%20Enric%20d&#39;Oss%C3%B3!5e0!3m2!1ses!2ses!4v1714747710069!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </div>
        </div>
      </div>
      <div class="presentacion-2">
        <div class="presentacion-40-2">
            <p class="presentaciontxt-white">Educación secundaria</p>
            <p class="presentaciontxt-white">(2016-2022)</p>
            <p class="presentaciontxt2-white">Al finalizar la educación primaria, me quede en el mismo colegio, en El enric d'Osso para finalizar mis estudios de la ESO.
            </p>
        </div>
        <div class="presentacion-60">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5990.275488551512!2d2.110543475876622!3d41.349359671304605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d011f605c5%3A0x9b99437e7b301534!2sColegio%20Pare%20Enric%20d&#39;Oss%C3%B3!5e0!3m2!1ses!2ses!4v1714747710069!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> 
      </div>
      <div class="presentacion">
        <div class="presentacion-40-est">
            <p class="presentaciontxt-est">CFGM de SMX</p>
            <p class="presentaciontxt-est">(2022-Actualidad)</p>
            <p class="presentaciontxt2-est">Al finalizar la ESO, decidi meterme a SMX1 para empezar sistemas microinformáticos porque era una cosa que me gusta desde pequeño
            </p>
        </div>
        <div class="presentacion-60">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.112863625239!2d2.104722276609931!3d41.34990049831879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683795816921!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <br>
        <div class="apartado-inferior">
          <div class="idioma-rest">
            <p>Si deseas cambiar a la versión de ingles, pulsa este boton:</p>
            <div class="botoneng">
              <a href="../view/en/Estudies.html">English version</a>
            </div>
          </div>
        </div>
      </div>
</html>  