<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <title>CV de Pablo</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../index.html">Quien soy?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../view/Estudios.html">Estudios</a></li>
          <li><a href="../view/Experiencia.html">Experiencia</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Experiencia</p>
      </div>
      <div class="presentacion">
        <div class="presentacion-40-est">
            <p class="presentaciontxt-est">Practicas en DKV</p>
            <p class="presentaciontxt-est">(Junio 2023-Noviembre 2023)</p>
            <p class="presentaciontxt2-est"> Durante un periodo de 6 meses estuve de Becario en DKV seguros, estuve atentiendo gente y cogiendo un rol de becario bastante asequible, </p>
        </div>
        <div class="presentacion-60">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.973526157009!2d2.069349084955205!3d41.37465989730449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49901fccbe143%3A0xdb454f66ba1fadc7!2sDKV%20Seguros%20Corporativo!5e0!3m2!1ses!2ses!4v1714751014334!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div> 
      </div>
      <br>
        <div class="apartado-inferior">
          <div class="idioma-rest">
            <p>Si quieres cambiar de idioma pulsa el boton</p>
            <div class="botoneng">
              <a href="../view/en/Experience.html">English version</a>
            </div>
          </div>
        </div>
      </div>

        